# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation_df = pd.read_csv("cities.csv")
print(vacation_df)

     Unnamed: 0                City  Cloud Cover Country        Date  \
0             0       Mar del Plata            0      AR  1594897332
1             1      Cabo San Lucas            5      MX  1594903431
2             2         Pangnirtung           20      CA  1594879318
3             3              Albany           97      US  1594891965
4             4             Kavieng           85      PG  1594929789
..          ...                 ...          ...     ...         ...
558         558          Champerico           40      GT  1594900028
559         559             Moundou          100      TD  1594874669
560         560            Khorinsk            3      RU  1594932026
561         561            Yamethin          100      MM  1594940660
562         562  Comodoro Rivadavia           90      AR  1594901094

     Humidity  Latitude  Longitude  Maximum Temperature  Wind Speed (MPH)
0          50    -38.00     -57.56               55.994              4.10
1          62     22.89    -109.91               93.200              5.10
2          51     66.15     -65.71               62.600              2.42
3          58     42.60     -73.97               78.998              0.45
4          70     -2.57     150.80               81.950              0.88
..        ...       ...        ...                  ...               ...
558        55     14.30     -91.92               91.400              4.10
559        92      8.57      16.08               72.302              0.95
560        77     52.17     109.77               48.920              3.72
561        83     20.43      96.15               76.064              3.57
562        93    -45.87     -67.50               39.200              1.70

[563 rows x 10 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key= g_key)

In [4]:
locations = vacation_df[["Latitude", "Longitude"]]
weights = vacation_df["Humidity"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, max_intensity=50, point_radius=3.0))
plt.savefig("Images/HeatMapOverlay.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
filtered_cities = vacation_df.loc[(vacation_df["Maximum Temperature"] > 70) & (vacation_df["Maximum Temperature"] < 80) & (vacation_df["Cloud Cover"] ==0) & (vacation_df["Wind Speed (MPH)"] < 10), :]
filtered_cities = filtered_cities.dropna(how="any")
filtered_cities.reset_index(inplace=True)
filtered_cities.head()

,index,Unnamed: 0,City,Cloud Cover,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed (MPH)
0,49,49,Sidi Ali,0,DZ,1594875214,49,36.10,0.42,77.846,5.43
1,50,50,Atuona,0,PF,1594913628,76,-9.80,-139.03,79.988,9.22
2,130,130,Avarua,0,CK,1594919750,73,-21.21,-159.78,71.600,4.10
3,135,135,Fasa,0,IR,1594949868,38,28.94,53.65,77.000,2.10
4,201,201,Japura,0,ID,1594941209,97,-0.32,102.35,73.814,0.50

In [6]:
filtered_cities.count()

index                  23
Unnamed: 0             23
City                   23
Cloud Cover            23
Country                23
Date                   23
Humidity               23
Latitude               23
Longitude              23
Maximum Temperature    23
Wind Speed (MPH)       23
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotels = []

for i in range(len(filtered_cities)):
    lat = filtered_cities.loc[i]["Latitude"]
    long = filtered_cities.loc[i]["Longitude"]
    
    params = {
        "location": f"{lat},{long}",
        "radius": 5000,
        "types": "hotel",
        "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    request = requests.get(base_url, params=params)
    request_json = request.json()
    
    try: 
        hotels.append(request_json["results"][0]["name"])
    except:
        hotels.append(" ")
filtered_cities["Hotel Name"] = hotels
hotel_df = filtered_cities.dropna(how="any")
hotel_df.head()

,index,Unnamed: 0,City,Cloud Cover,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed (MPH),Hotel Name
0,49,49,Sidi Ali,0,DZ,1594875214,49,36.10,0.42,77.846,5.43,Sidi Ali
1,50,50,Atuona,0,PF,1594913628,76,-9.80,-139.03,79.988,9.22,Atuona
2,130,130,Avarua,0,CK,1594919750,73,-21.21,-159.78,71.600,4.10,Avarua District
3,135,135,Fasa,0,IR,1594949868,38,28.94,53.65,77.000,2.10,Fasa
4,201,201,Japura,0,ID,1594941209,97,-0.32,102.35,73.814,0.50,Djapoera

In [8]:
hotel_df.rename(columns = {"Latitude":"Lat", "Longitude":"Lng"}, inplace=True)
hotel_df

,index,Unnamed: 0,City,Cloud Cover,Country,Date,Humidity,Lat,Lng,Maximum Temperature,Wind Speed (MPH),Hotel Name
0,49,49,Sidi Ali,0,DZ,1594875214,49,36.10,0.42,77.846,5.43,Sidi Ali
1,50,50,Atuona,0,PF,1594913628,76,-9.80,-139.03,79.988,9.22,Atuona
2,130,130,Avarua,0,CK,1594919750,73,-21.21,-159.78,71.600,4.10,Avarua District
3,135,135,Fasa,0,IR,1594949868,38,28.94,53.65,77.000,2.10,Fasa
4,201,201,Japura,0,ID,1594941209,97,-0.32,102.35,73.814,0.50,Djapoera
5,207,207,Benghazi,0,LY,1594871075,69,32.12,20.07,77.810,4.04,Benghazi
6,217,217,Acaraú,0,BR,1594889238,72,-2.89,-40.12,79.538,6.05,Acaraú
7,255,255,Qaryat Sulūq,0,LY,1594871094,62,31.67,20.25,74.966,3.72,Suluq
8,271,271,Taraz,0,KZ,1594943457,35,42.90,71.37,73.400,3.00,Taraz
9,334,334,Kiryat Gat,0,IL,1594867618,70,31.61,34.76,78.998,0.61,Kiryat Gat
10,351,351,Vallenar,0,CL,1594899223,20,-28.57,-70.76,74.012,2.01,Vallenar
11,390,390,Labuhan,0,ID,1594939454,81,-6.88,112.21,76.046,3.75,Musholla Babut Taubat
12,392,392,Kananga,0,CD,1594874511,37,-5.90,22.42,74.174,1.72,Kananga
13,405,405,Atasū,0,KZ,1594942134,47,48.68,71.64,70.070,6.70,Atasu
14,418,418,Trairi,0,BR,1594889071,72,-3.28,-39.27,79.196,4.72,Trairi
15,419,419,Caiapônia,0,BR,1594893399,27,-16.96,-51.81,75.038,2.56,Caiapônia
16,459,459,Tshikapa,0,CD,1594874949,35,-6.42,20.80,75.344,0.88,Tshikapa
17,468,468,Ternate,0,ID,1594935092,78,0.80,127.40,79.484,1.65,Ternate
18,498,498,Dombarovskiy,0,RU,1594944497,39,50.76,59.54,75.920,5.19,Dombarovskiy
19,508,508,Ushtobe,0,KZ,1594941396,29,45.25,77.98,75.236,3.13,Ushtobe
20,514,514,Blagaj,0,BA,1594869777,49,43.26,17.89,73.400,1.00,Blagaj
21,535,535,Marsá Maţrūḩ,0,EG,1594869456,76,31.35,27.25,75.974,6.51,Marsa Matruh
22,553,553,Abu Samrah,0,SY,1594866509,67,35.30,37.18,71.546,5.26,Suruj

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
plt.savefig("Images/Hotel_Locations_HeatMapOverlay.png")
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))